body{
    background-attachment: fixed;
    background-size: cover;
    margin: 0 auto;
    margin-left: 25%;
    margin-right: 25%;
    background-color:green;

}
.float {
    float: left;
    display: block;
    height: 100%;
    background-color:white;
}


div.ex1{
    padding: 25px 50px 75px 100px
}
.info{
    font-weight: bold;
}
.input{
    font-weight: normal;
}
/* td{
    padding: 5px;
} */


.profile td:nth-child(2){
    border-bottom: 1.5px solid white;
} 
.MosaP{
    display: block;
    margin: 0 auto;
    
    
}

.flex-container{
    display: flex;
    background-color: whitesmoke;
    justify-content: space-evenly;
    padding: 5px;
}



img{
    border-radius: 50%;
}
.text-shadow {
    color: white;
    text-shadow: 3px 3px 5px black;
}

.wrapper{ 
    background: rgb(190, 183, 183);
    box-shadow: 2px 2px 3px black;
    border-radius: 5px;
}
.body{
    width: 50%;
    margin: 0 auto;
}    

    
  