
<!-- <table style="width:100%">
  <tr>
    <td>442 Kekana Street</td>
    <td></td>
    <td></td>
    <td>Phone:0744647543</td>
  </tr>
  <tr>
    <td>Mapetla</td>
    <td></td>
    <td>Email: m.makhongoana@gmail.com</td>
  </tr>
  <tr>
    <td>Soweto</td>
  </tr>
  <tr>
    <td>1818</td>
  </tr>
</table> -->

<div class="flex-container">
  <div class="container1" id="child">
      <p>442 Kekana Street <br>
        Mapetla <br>
        Soweto <br>
        1818</p>
  </div>
  <div class="container2" id="child">
    <p></p>
  </div>
  <div class="container3" id="child">
      <p>Phone:0744647543 <br>
        Email: m.makhongoana@gmail.com</p>
    </div>
</div>



<p><img src= "../assets/IMG_20171222_171640.jpg" class="MosaP" width="200" height="200"></p>

<h1 style="text-align: center"> Mosa Makhongoana</h1>
<hr>
<div class="BG">
<table class="profile" style="width:100%; padding: 25px 50px 75px 50px">
    <tr>
      <td>
       <p style="text-decoration:underline">Personal details</p> 
      </td>
      <td>
        <p class="info">Date Of Birth:  <span class="input">1st January 1990</span></p>
        <p class="info">marital Status:  <span class="input">Single</span></p>
        <p class="info">Drivers License:  <span class="input">Code 10/Code C1</span></p>
        <p class="info">Home Language:  <span class="input">South Sotho</span></p>
        <p class="info">Other Language:  <span class="input">english,Afrikaans,Zulu</span></p>

      </td> 
    </tr>
    <tr>
      <td>
          <p style="text-decoration: underline">Work Experience</p>
      </td>
      <td>
        <p class="info">Mobile Development: <span class="input">The InnovationHub currently 2018</span></p>
        <p class="info">Assistant Trainer for African Code Week: <span class="input">Sci-bono ICT 17-21 Oct 2016 and 23-27 Oct 2017</span> </p>
        <p class="info">Stocktaking: <span class="input">Dial a student - 2014 to 2015</span> </p>
        <p class="info">Exam Assistant: <span class="input">Department of Education Florida - August 2014</span> </p>
        <p class="info">Lab Coodinater: <span class="input">Gauteng City Region & gauteng on line - June 2011 to 29 March 2013</span> </p>
      </td>
    </tr>
    <tr>
     <td>
       <p style="text-decoration: underline">Education</p>
     </td>
     <td>
       <p class="info">Sci-bono ICT Academy: <span class="input">CCNA security 2018 </span></p>
        <p class="info">Wits (Tshimologong) Braamfontaion: <span class="input">Software Testing - 2017 to 2018</span> </p>
        <p class="info">Sci-Bono ICT Academy : <span class="input">CCNA Routing and Switching - 2015 to 2016</span> </p>
        <p class="info">central Johannesburg Collage: <span class="input">CCNA National - 2015 to 2016</span> </p>
        <p class="info">Xtensive ICT Academy Midrand : <span class="input">NQF level 4 Information technology - 2011 to 2012</span> </p>
     </td>
    </tr>
    <tr>
     <td>
        <p style="text-decoration: underline">High School</p>
     </td>
     <td>
        <p class="info">South West Gauteng Collage - Doopsenville: <span class="input">2008-2010</span> </p>
        <p class="info">Seta-School Based Course: <span class="input">Roodepark 2007</span> </p>
     </td>
    </tr>
    <tr>
     <td>
        <p style="text-decoration: underline">Intrests & Activities</p> 
     </td>
     <td>
       <p> Methodist Church Yoth Unit Steward at Socity level (managment Team), Musice,Readingd, board Games, Meeing new people and love Animals. </p>
     </td>
    </tr>
    <tr>
     <td>
        <p style="text-decoration: underline">References</p>
     </td>
     <td>
       <p class="info">Mr mandla Nkuna (Project Manager for African Code Week: <span class="input">CCNA National - 2015 to 2016</span> </p>
       <p>Mr Mandla Nkuna (Project Manager for African Code Week</p>
       <p>Sci-Bono ICT Acadamy</p>
       <P>079 758 8808 or 011 639 8400</P>
       <br>
       <p>Mr Tshepiso Nkoale (facilitator)
         <p>Sci-Bono ICT Acady </p>
         <P>078 590 6175 or 011 639 8400</P>
       <br>
       <p>Dial a student</p>
       <p>011 403 2369</p>
      </td>
    </tr>
    <tr>
    <td>
      <p style="text-decoration: underline">Community Activities</p>
      </td>
      <td>Stage Member of the the Methodist Church of southren Africa and part of the youth Movement(Wesely Guild), A Yoth Leader (Steward) for Moroka Socity and Community projects. </td>
    </tr>
    
  </table>
</div>