
div{
    background-color: navy;
}
div{
    border: 1.5px solid rgb(18, 110, 5, 0.699);
    Background-color: rgba(131, 236, 12);
}
div.ex1{
    padding: 25px 50px 75px 100px
}
.info{
    font-weight: bold;
}
.input{
    font-weight: normal;
}
/* td{
    padding: 5px;
} */

table{
    border: 1.5px solid rgba(18, 110, 5, 0.699);
}
.profile td:nth-child(2){
    border-bottom: 1.5px solid white;
} 
.MosaP{
    display: block;
    margin: 0 auto;
    
    
}

.flex-container{
    display: flex;
    background-color:rgb(131, 236, 12);
    justify-content: space-evenly;
    padding: 5px;
}

#child{
    border: 0px transparent;
    background: transparent;
}

img{
    border-radius: 50%;
}
.text-shadow {
    color: white;
    text-shadow: 2px 2px 4px black;
}

.wrapper{ 
    background: navy;
}
.body{
    width: 50%;
    margin: 0 auto;
}